
@tailwind base;
@tailwind components;
@tailwind utilities;






body {
background-color: #fafafa;
font-family: Manrope , serif;
}


a {
  color: inherit;
  text-decoration: none;
}


/* it's for accordions soft open and close animation */
.accordion_content{
  transition: height 500ms;
}


.hero-pic{
  background-position: center 50%;
  @apply bg-[url('/hero.jpg')] relative bg-no-repeat bg-cover object-contain brightness-[70%]	
}

.trapezium {
  @apply bg-[url('/trapezium.svg')] bg-no-repeat bg-right-top bg-cover
}

@media only screen and (min-width: 1024px) {

  .hero-illustration {
    
    @apply bg-[url('/hero-illustration.svg')] bg-no-repeat bg-right-top bg-auto rounded-3xl
  }
}


.sky-gradient {
/* Created with https://www.css-gradient.com */
background: rgba(66, 136, 216, 0.616);
background: -webkit-radial-gradient(center, rgba(66, 136, 216, 0.616), rgb(255, 255, 255));
background: -moz-radial-gradient(center, rgba(66, 136, 216, 0.616), rgb(255, 255, 255));
background: radial-gradient(ellipse at center, rgba(66, 136, 216, 0.486), #fafafa);
border-radius: 50%;
box-shadow: -1px 10px 500px rgba(66, 136, 216, 0.486);
}

.purple-gradient {
/* Created with https://www.css-gradient.com */
background:  rgba(198, 153, 216, 0.534);
background: -webkit-radial-gradient(center,  rgba(198, 153, 216, 0.534), #fafafa);
background: -moz-radial-gradient(center,  rgba(198, 153, 216, 0.534), #fafafa);
background: radial-gradient(ellipse at center,  #9c70faa4, rgba(96, 217, 241, 0.062));
border-radius: 50%;
box-shadow: -1px 5px 500px #9c70faa4;
}