
@tailwind base;
@tailwind components;
@tailwind utilities;





body {
background-color: #fafafa;
}



a {
  color: inherit;
  text-decoration: none;
}


/* it's for accordions soft open and close animation */
.accordion_content{
  transition: height 500ms;
}


.hero-pic{
  @apply bg-[url('/hero.jpg')] bg-no-repeat bg-cover
}

.trapezium {
  @apply bg-[url('/trapezium.svg')] bg-no-repeat bg-right-top bg-cover
}

@media only screen and (min-width: 1024px) {

  .hero-illustration {
    
    @apply bg-[url('/hero-illustration.svg')] bg-no-repeat bg-right-top bg-auto rounded-3xl
  }
}